		/*Start of General modifications*/

		.mainContentWrapper{
			padding: 0 64px;
			background: #F0EFEF;

		}
		header{
			width:100%;
			height: 180px
		}
		body{
			width:100vw;
			height: 100vh;
			margin: 0;
		}
		/*End of General modifications*/
		.headerRectangle{
			position: absolute;
			width: 100%;
			height: 82px;
			top: 49px;
			background: #376DBD;
			display: flex;
			align-items: center;	
			justify-content: flex-end;
		}
		.forward{
			position: absolute;
			left: 16%;
		}
		.textAlignmentWrap{
			width: 40%;
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0 10px;
			margin-left: 10%;

		}
			/* Services */
		.headerText{
			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 25px;
			color: #FFFFFF;
		}
		.textMargin{
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0 23px;
		}

		.buttonSegment{
			width: 10%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}
		.loginButton{
			width: 100%;
			height: 50%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		.login{
			width: 81px;
			height: 29px;
			text-align: center;
			background: #000000;
			border-radius: 13px;

			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;

			color: #FFFFFF;
		}
		.storeButton{
			width: 100%;
			height: 50%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
		.store{
			width: 81px;
			height: 29px;

			background: #FFF500;
			border-radius: 13px;
			
			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;
			
			color: #000000;						
		}

		button{
		outline: 0;
		}

		.sectionOne{
			display: flex;
			flex-direction: row;
			align-items: center;			
		}


		.title{
			font-family: Roboto Condensed;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 42px;
			display: flex;
			align-items: center;
			text-align: center;
		}
		.introductionText{
			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 27px;
			display: flex;
			align-items: center;
			color: #000000;
		}
		.introductionToSiteWrapper{
			display: flex;
			flex-direction: column;
			width: 60%
		}
		.searchBarBox{
			width: 310px;
			height: 197px;
			background: #FFFFFF;
			border-radius: 3px;

*/		}
		.searchBarBoxLine{
			width: 304px;
			height: 0px;

			border: 3px solid #0066FF;
	
		}