		/*Start of General modifications*/

		.mainContentWrapper{
			padding:32px 64px;
			background: #F0EFEF;
			display: flex;
			flex-direction: column;
			flex: 2;

		}
		header{
			width:100%;
			height: 180px;
			display: flex;
		}
		footer{
			width: 100%;
			flex: auto;
		}
		body{
			width:99vw;
			height: 125vh;
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}
		/*End of General modifications*/
		.headerRectangle{
			position: absolute;
			width: 100%;
			height: 82px;
			top: 49px;
			background: #376DBD;
			display: flex;
			align-items: center;	
			justify-content: flex-end;
		}
		.forward{
			position: absolute;
			left: 16%;
		}
		.textAlignmentWrap{
			width: 40%;
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0 10px;
			margin-left: 10%;

		}
			/* Services */
		.headerText{
			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 25px;
			color: #FFFFFF;
		}
		.textMargin{
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0 23px;
		}

		.buttonSegment{
			width: 10%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}
		.loginButton{
			width: 100%;
			height: 50%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		.login{
			width: 81px;
			height: 29px;
			text-align: center;
			background: #000000;
			border-radius: 13px;

			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;

			color: #FFFFFF;
		}
		.storeButton{
			width: 100%;
			height: 50%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
		.store{
			width: 81px;
			height: 29px;

			background: #FFF500;
			border-radius: 13px;
			
			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;
			
			color: #000000;						
		}

		button{
		outline: 0;
		}

		.sectionOne{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;			
		}
		.mainSection{
			display: flex;
			flex-direction: column;
			align-items: stretch;
			height: 70%;
		}

		.title{
			font-family: Roboto Condensed;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 42px;
			display: flex;
			align-items: center;
			text-align: center;
		}
		.introductionText{
			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 27px;
			display: flex;
			align-items: center;
			color: #000000;
		}
		.introductionLine{
			width: 100%;
			height: 0px;
			border: 1px solid #7C7B7B;
		}
		.introductionToSiteWrapper{
			display: flex;
			flex-direction: column;
			width: 60%
		}
		.searchBarBox{
			width: 315px;
			height: 197px;
			background: #FFFFFF;
			border-radius: 3px;

		}
		.searchBarBoxLine{
			width: 309px;
			height: 0px;

			border: 3px solid #0066FF;
	
		}
		.smallModification{
			padding: 0 0 0 20px;
			height: 55%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			font-family: Roboto Condensed;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 42px;
		}
		.searchLine{
			width: 138px;
			height: 0px;
			border: 1px solid #C4C4C4;
		}
		.searchArea{
			padding: 0 14px 0 4px;
		}
		.searchBar{
			width: 208px;
			height: 43px;
			background: #FFFFFF;
			border: 0.5px solid #C4C4C4;
			box-sizing: border-box;
			border-radius: 2px;
		}
		.searchButton{
			width: 82px;
			height: 38px;
			background: #000000;
			border-radius: 5px;
			color: #FFFFFF;
			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 25px;
		}
		.commoditiesInfo{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-top: 12px;
		}
		.sortingOptions{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.sortingBox{
			width: 300px;
			height: 43px;			
			background: #FFFFFF;
			border: 0.5px solid #C4C4C4;
			box-sizing: border-box;
			border-radius: 1px;	
			outline: 0;	
			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 25px;
			color: #7C7B7B;
		}
		.resultsAmount{
			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 25px;
			color: #7C7B7B;
		}
		.commoditiesWrapper{
			display: flex;
			flex-direction: column;
			width: 60%;
		}
		.itemSelection{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			padding: 5px;
		}
		.itemSelection img{
			width: 50%;
			height: 50%;
			
		}

		.item{
			width: 300px;
			height: 289px;
			padding: 0 20px;
			margin: 5px;

			background: #FFFFFF;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 4px;

			display: flex;
			flex-flow: column wrap;
			align-items: center;
			justify-content: space-evenly;
		}
		.readMore{
			width: 89px;
			height: 23px;

			background: #E5E5E5;
			border-radius: 4px;
			border-style: none;
		}
		.footerContent{
			color: white;
			background-color: #000000;
			display: flex;
			justify-content: flex-end;
		}

		/*Pop-up section*/
		.counterPopUp{
			width: 20px;
			/* height: 20px; */
			border-radius: 50%;
			position: absolute;
			align-self: flex-start;
			background-color: aqua;
			text-align: center;
			font-size: small;
			font-family: Noto Sans;
		}
		.goodsPopUp{
			position: absolute;
			width: 50%;
			height: 50%;
			background-color: ivory;
			align-self: center;
			justify-self: center;
			display: flex;
			flex-direction: column;
			align-content: stretch;
		}

		.hide{
			visibility: hidden;
		}
		.show{
			visibility: visible;
		}
		.showCart{
			visibility: visible;
			animation: fadeIn 1s;
		}
		.exitPopUp{
			position: relative;
			width:auto;
			margin-left: 98%;
			cursor: pointer;
			top:0;
		}
		.blackBox{
			width: 100%;
			height: 100%;
			position: absolute;
			background-color:rgba(0, 0, 0, 0.7);
			justify-content: center;
			align-content: center;
			
		}
		.showBlackBox{
			display: flex;
		}
		.hideBlackBox{
			display: none;
		}
		@keyframes fadeIn{
			from {opacity: 0;}
			to {opacity: 1;}
		}
		.popUpTable{
			margin: 0 12%;
		}
		#goodsTable td {
			margin: 0 8%;
		}
		.headOfTable{
			display: flex;
		}
		.headOfTable td{
			text-align: center;
		}
		.firstCell{
			flex: 2;
		}
		.mainPartOfThisTable{
			display: flex;
		}
		.itemLineUp{
			display: flex;
		}
		.itemLineUp td{
			margin: 0 8%;
		}
		.clearingButton{
			width: 20%;
			align-self: center;
		}
		/*End of Pop-ip section*/